* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: rgb(69, 142, 225);
}

#logo-top {
    width: 20%;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 5px;
}
main {
    padding-left: 5px;
}

h1 {
    padding-top: 15px;
}

.first-section p {
    color: rgb(104, 103, 103);
}

.first-section a {
    color:rgb(12, 184, 219);
    text-decoration: none;
}
.images-wrap {
    margin-top: 15px;
}

.images-wrap p {
    color: black;
    font-size: 11px;
}

span {
    background-color: yellow;
}
.seconda-sezione p {
    margin-top: 15px;
}

ul {
    margin-top: 15px;
    padding-left: 15px;
}

table {
    margin-top: 15px;
}

.colonna-al-25 {
    width: 25%;
}

.colonna-al-50 {
    width: 50%;
}

#tr-thead {
    text-align: left;
    background-color:rgb(69, 142, 225);
    color: white;
}

.tr-td {
    background-color: rgb(177, 233, 252);
}